# Gateway config
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8009

# Internal server config
SERVER_HOST=127.0.0.1
SERVER_PORT=3000

# Auth
PASSPHRASE=test123
AUTH_DURATION_SECONDS=60
MAX_TIME_DRIFT=30
MAX_FAILED_ATTEMPTS=2
