#!/bin/bash

DOMAIN="yourdomain"
TOKEN="your-token"
LOG="/var/log/duckdns.log"
IP="" # Leave empty for auto-detect
IPV6= "" # Optional IPv6 setting - AUTO-DETECT WON'T WORK FOR IPv6!
#IPV6=$(ip -6 -o addr show scope global | grep -v temporary | awk '{print $4}' | cut -d/ -f1 | head -n1) # uncomment this line to auto-detect locally

echo -e "\n$(date): " >> "$LOG"
curl -fsS "https://www.duckdns.org/update?domains=${DOMAIN}&token=${TOKEN}&ip=${IP}&ipv6=${IPV6}&verbose=true" >> "$LOG" 2>&1

